* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.parent {
  display: flex;
  flex-direction: column;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.addArea {
  margin-top: 10px;
  align-items: center;
  font-size: 20px;

}
.addArea a{
text-decoration: none;
color: white;
background-color:rgb(112, 17, 92);

}
.routine input{
  align-self: flex-end;
}

.routine {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 15px;

}